body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#aceEditor {
  height: 100px;
}

.outlinedButton {
  
}
/* listLevelsStyling */
.unlocked {
  border-radius: 15px ;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  width: 500px;
  height: 100px;
  padding: 60px 0px 0px 0px;
  background-color: lightgreen;
}

.locked {
  border-radius: 15px ;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  width: 500px;
  height: 100px;
  padding: 60px 0px 0px 0px;
  background-color: grey;
}

.levelListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.level {
  padding: 25px;
}
