body {

  font-family: sans-serif;
  margin: 0;
  background-color: #c2c5aa;
  max-width: 100%;
  overflow-x: hidden;
}

.hidden {
	color: rgba(0, 0, 0, 0);
}

a {
	text-decoration: none;
	color: black;
}

label {
	display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414833;
}

nav a {
	display: inline-block;
	margin: 1em;
	color: blanchedalmond;
}

form div {
	margin: 1em;
	display: inline-block;
}

.unlocked {
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	text-align: center;
	width: 500px;
	height: 100px;
	padding: 60px 0px 0px 0px;
	background-color: #936639;
}

.locked {
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	text-align: center;
	width: 500px;
	height: 100px;
	padding: 60px 0px 0px 0px;
	background-color: #656d4a;
}

.levelListContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.levelCard {
	padding: 25px;
}

#level {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#level h2 {
	z-index: 1;
	position: relative;
}

#codeIframe {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	z-index: 1;
	background-color: rgba(255, 238, 189, 0.555);
	border: 5px double;
	width: 600px;
	height: 250px;
}

#profileContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.evilDuck {
	height: 100px;
	width: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.goodDuck {
	height: 100px;
	width: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.runButton {
	z-index: 1;
}

.duckDiv {
	display: flex;
}

.generalJoe {
	height: 200px;
	width: 200px;
	position: absolute;
}

#success {
	font-weight: bold;
	margin: 15px;
}

.lvl-desc {
	margin: 25px;
}

.next-level {
	margin: 30px;
}

.openingOfficer {
  height: 200px;
  margin-top: 50px;
}

.singleCardContainer {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-color: #414833;
  border-width: 15px;
  border-style: groove;
  color: #333d29;
  background-color: #b6ad90;
  width: 200px;
}
