body {

  font-family: sans-serif;
  margin: 0;
  background-color: #c2c5aa;
  max-width: 100%;
  overflow-x: hidden;
}

.hidden {
	color: rgba(0, 0, 0, 0);
}

a {
	text-decoration: none;
	color: black;
}

label {
	display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414833;
}

nav a {
	display: inline-block;
	margin: 1em;
	color: blanchedalmond;
}

form div {
	margin: 1em;
	display: inline-block;
}

.unlocked {
  border-radius: 15px;
  border-style: outset;
  border-width: 3px;
  width: 200px;
  height: 50px;
  background-color: #936639;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 30px;
}

.unlocked:hover {
  border-style: inset;
  background-color: #582f0e;
}

.locked {
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  height: 50px;
  padding: 15px;
  background-color: #656d4a;
  font-size: larger;

}

.levelListContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.levelCard {

  padding: 10px;
}

#level {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#level h2 {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}
#level h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
  position: relative;
  margin-left: 25%;
  margin-right: 25%
}

#codeIframe {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	z-index: 1;
	background-color: rgba(255, 238, 189, 0.555);
	border: 5px double;
	width: 600px;
	height: 250px;
}

#profileContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.evilDuck {
	height: 100px;
	width: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.goodDuck {
	height: 100px;
	width: 100px;
	margin-left: 50px;
	margin-right: 50px;
}

.runButton {
	z-index: 1;
}

.duckDiv {
	display: flex;
}

.generalJoe {
	height: 200px;
	width: 200px;
	position: absolute;
}

#success {
	font-weight: bold;
	margin: 15px;
}

.lvl-desc {
	margin: 25px;
}

.next-level {
	margin: 30px;
}

.openingOfficer {
  height: 200px;
  margin-top: 50px;
}

.singleCardContainer {
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-color: #414833;
  border-width: 15px;
  border-style: groove;
  color: #333d29;
  background-color: #b6ad90;
  width: 200px;
}

#profile-level-link {
  border-style: outset;
  background-color: #b6ad90;
  padding: 5px;
  margin-top: 5px;
}

#profile-level-link:hover {
  border-style: inset;
  background-color: #a68a64;
}

.edit-profile-button {
  border-style: outset;
  background-color: #b6ad90;
}

.edit-profile-button:hover {
  border-style: inset;
  background-color: #b6ad90;
}

#level-topics {
  display: flex;
  flex-direction: column;
}

#level-menu {
  display: flex;
  justify-content: space-between;
}

.topic-card {
  border-radius: 15px;
  border-style: outset;
  border-width: 3px;
  width: 250px;
  height: 50px;
  margin: 10px;
  padding: 5px;
  padding-top: 10px;
  background-color: #936639;
  font-size: large;
  display: flex;
  align-content: center;
  justify-content: center;
}

.topic-card:hover {
  border-style: inset;
  background-color: #582f0e;
}


#level-list-menu {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
}

#level-description {
  width: 35%;
  height: fit-content;
  border-radius: 15px;
  border-style: double;
  border-width: 3px;
  background-color: #936639;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}

#ghost-level-description {
  width: 35%;
  height: fit-content;
  border-radius: 15px;
  border-style: double;
  border-width: 3px;
  border-color: #c2c5aa;
  background-color: #c2c5aa;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
}

#profile-completed-levels {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  max-width: 80%;
}

.profile-completed-level {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-completed-title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5px;
}

#bottomBar {
    display: flex;
    position: fixed;
    /* justify-content: space-between; */
    bottom: 10px;
    right: 10px;
    /* left: 10px; */
    /* align-items: flex-end; */
    width: 200px;
  }

  #bottomBarInnerDiv {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 25px;
	background-color: royalblue;
  }

  #bottomBarOpenSymbol {
	position: fixed;
	bottom: 10px;
	right: 10px;
  }

  .userList {
    display: flex;
    flex-direction: column;
    border-style: outset;
    width: 200px;
    text-align: center;
    background: antiquewhite;
}

.videoFrame {
  display: flex;
  flex-direction: column;
}
